@{
    ViewData["Title"] = "Group Introduction";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Our Project!</b></h1>
    <p>This is a demo web server for our final project: <strong>HAproxy and Keepalive</strong>.</p>

    <h2><b>Group Members</b></h2>
    <ul class="list-unstyled">
        <li>Member 1: Trần Lê Thanh Tùng</li>
        <li>Member 2: Lê Phan Tuấn Khôi</li>
        <li>Member 3: Đặng Thế Long</li>
        <li>Member 4: Nguyễn Việt Kỳ Quân</li>
        <li>Member 5: Đồng Hữu Nguyên Khoa</li>
        
    </ul>

    <h2>Instructor</h2>
    <p>Our instructor for this subject is <strong>[Đỗ Hoàng Hiển]</strong>.</p>

    <p>Thank you for visiting our project demonstration!</p>
</div>
